.DS_Store
Thumbs.db

node_modules/
npm-debug.log*
yarn-error.log*

.env
.env.local

dist/
build/

.cache/
.npm

logs/
*.log

.vscode/
.idea/
.history/
.pixi/
.rattler-cache/
.uv-cache/
.pixi.lock
pixi.lock
__pycache__/
*.egg-info/
attention_processor_train.py
ckpt/
tmp/

dataset*
output*
train*

# API keys
fal*
google*
.claude
wandb*
